/**/
body{
	margin: 0;
	padding: 0;
	font-family: 'Inconsolata';
}
header{
	background-color: grey;
	color: white;
}

header p{
	
	display: block;
	margin: 0;
	font-size: 20px;
	padding-left: 10px;
	color: white;
	transition: all 1s linear;
}

header p:hover{
	font-size: 10px;
	color: red;
	
}

header p, header nav{
	display: inline-block;
	vertical-align: middle;
}
header nav ul{
	/*padding: 30px;*/
	list-style: none;	
}

section h1{
	text-align: center;
}

section article p {
	/*background-color: #458873;*/
	text-align: center;
	font-size: 20px;
	color: grey; /*-- hoy --*/
	padding: 10px;
	transition: all 1s linear;
}

section article p:hover {
	background-color: #0065aa;
	font-size: 15px;
	color: yellow; /*-- hoy --*/

}

section article p{
	transition: all 1s linear;
}

section img{
	padding: 40px;
	opacity: 1;
	transition: all 1s linear;
}

section img:hover{
	opacity: 0;
	padding-bottom: 80px;
}

nav ul li{
	display: inline-block;
	padding: 25px;
	/*margin-right: 50px;
	/*list-style: none;*/
}
nav ul li a{
	
	color: white;
	text-decoration: none;	
	/*display: block;
	list-style: none;*/
}
article h2{
	text-align: center;
}